.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 50%;
  left:50%;
}

.modal {
  transform: translate(-50%,-50%);
  width: 500px !important;
  height: 200px !important;
}

.modalActions {
  position: relative;
  top:12px;
}